# APP
SECRET_KEY=MySecretKey123
DEBUG=False

# Auth Mode, use LOCAL (doesn't need email nor password) or ONLINE
AUTH_MODE=

# Database (Not needed if using default values)
# DATABASE_URL=sqlite:///./crowdroom.db

# Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=