# APP
SECRET_KEY=MySecretKey123
DEBUG=False

# Auth Mode, use LOCAL (doesn't need email nor password) or ONLINE
AUTH_MODE=

# Database
DATABASE_URL=sqlite:///./crowdroom.db

# Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Tidal
TIDAL_CLIENT_ID=
TIDAL_CLIENT_SECRET=
